# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Data
#data/
limnos/data/databases/*
limnos/data/results/*
!limnos/data/.gitkeep
!limnos/data/source_documents/.gitkeep

models/
*.db
*.sqlite
*.sqlite3

# Redis
dump.rdb

# Misc
.DS_Store

# Data directories
data/datasets/*
data/results/*
data/sample_documents/*
data/source_documents/*
data/databases/*
!data/datasets/.gitkeep
!data/results/.gitkeep
!data/sample_documents/.gitkeep
!data/source_documents/.gitkeep
!data/databases/.gitkeep
!data/README.md

# NLTK data
nltk_data/

# Logs
logs/
*.log
